@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme {
  --color-primary: #00DDBE;
  --color-secondary: #001446;
  --color-tertiary: #407FC1;
  --color-quaternary: #F1F5FA;
}




body {
  background: var(--background);
  color: #001446;
  font-family: Arial, Helvetica, sans-serif;
}
